body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#calculator {
    background-color: #303030;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin: 0 auto;
}

.calculator-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.calculator-button {
    background-color: #000000;
    color: #FFF;
    border: 1px solid #303030;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    width: 50px;
}

#display {
    align-items: center;
    background-color: #e6ffe6;
    display: flex;
    justify-content: end;
    flex-basis: 200px;
    flex-grow: 1;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 24px;
}